/* *{
    margin: 0px;
    padding: 0px;
} */
.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
header{
    margin: 0 auto;
    /* width: 1170px; */
    background-image: url(Hero-bg.png);
}
.bg-image-mini{
    border-radius: 30px;
}
/* shared styles */
.secondary-bg{
    background-color: #d5d5e7;
}
/* Nav styles */
nav{
    /* flex: 1; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 50px 150px 547px; */
    padding: 50px 150px;
    /* margin-bottom: 150px; */
    /* width: 1140px;
    height: 151px;
    margin-left: 150px;
    margin-right: 150px; */

}
.nav-title{
    font-size: 30px;
    font-weight: 900;
    color: #4E47FF;
}
.signup-button{
    font-size: 16px;
    font-weight: bold;
    background-color: #4E47FF;
    border: none;
    color: #ffffff;
    padding: 12px 36px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.signup-button:hover{
    background-color: #a2a2c0;
}
/* banner styles */
.banner-title{
    color: #252432;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 35px;
}
.banner{
    width: 905px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    /* padding: 40px 20px; */
    /* margin-left: 267.5px;
    margin-right: 267.5px;
    margin-bottom: 152px; */
    /* padding: 309px 267.5px 152px 267.5px; */
    padding-bottom: 100px;
}
/* section styles */
.action-details{
    display: flex;
    width: 1140px;
    height: 328px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 116px;
}
.action-title{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;

}
.action-description{
    font-size: 22px;
    font-weight: 400;
}
.action-section{
    padding: 62.5px 0px;
}
/* Main Styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* productive section styles */
.productive-user{
    border-radius: 20px;
    padding: 50px 142px;
    text-align: center;
    margin-top: 116px;
}

.item-title{
    color: #4E47FF;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 20px;

}
.item-description{
    font-size: 20px;
    font-weight: 400;

}
.productive-items{
    display: flex;
    justify-content: space-around;
}
/* users feedback style */
.buyer-intro{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px;
    padding: 0px;

}
.feedback-section{
    text-align: center;
}
.first-feedback-container{
    border-radius: 10px;
    padding: 50px;
    /* text-align: center; */
    width: 366px;
    height: 243px;
    margin: 0 auto;
}
.feedback-container{
    display: flex;
    gap: 24px;
    margin-top: 50px;
}
.main-comment{
    font-weight: bold;
    font-size: 25px;
}
.main-name{
    font-weight: bold;
    font-size: medium;
    margin-bottom: 2px;
    display: block;
}
.main-date{
    margin-top: 0;
}
.buyer-pic{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    
}
.users-feedback{
    margin-top: 137px;
}
