.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared styles */

/* Nav styles */
nav{
    display: flex;
    justify-content: space-between;
    /* margin: 50px 150px 547px; */
    padding: 20px 40px;
    padding: 0px 150px 0px 150px;
}
.nav-title{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}
.signup-button{
    font-size: 16px;
    font-weight: bold;
    background-color: #4E47FF;
    border: none;
    color: #ffffff;
    padding: 12px 36px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.signup-button:hover{
    background-color: #3b3aee;
}
/* banner styles */
.banner-title{
    color: #252432;
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 20px;
}
.banner{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    margin-left: 267.5px;
    margin-right: 267.5px;
}
